{% extends "base.html" %}

{% block content_container %}
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4 center-block">
        <h3>Adios!</h3> 
        <p class="lead">We have logged you out of our site but your Google account may still be active in this browser or in other tabs. Maybe you are using Gmail, Google Drive or other Google services. Click the link below to sign out of those apps too. You might want to do this if you are on a public computer or want to login with a different Google account. In any case, we hope to see you back soon!</p>

        <p class="lead">
            Sign out of other Google services <i class="fa fa-caret-right"></i>
            <a href="https://accounts.google.com/logout">https://accounts.google.com/logout</a>
        </p>
    </div>

    <div class="col-md-4"></div>

</div>
{% endblock %}
