/* base.css */
body {
  padding-top: 80px;
  padding-bottom: 50px;
  font-family: 'Roboto', sans-serif;
}

.header {
	background-color: white;
	height: 80px;
}

.header img {
	height: 60px;
}

.header span {
	font-size: 1.5em;
	color: black;
}

.footer {
    text-align: center;
    color: #fff;
}

.row {
	margin-top: 10px;
}

.blocks {
	position: relative; 
	width: 200px; 
	float: left; 
	margin: 10px
}

.menu_btn {
	width: 100%;
	color: #B2B3B3;
	text-align: left;
	font-size: 2.0em;
	background-color: white;
}

.active {
	background-color: #fff;
	color: #000;
}

.reply_preview_list {
	color: #B2B3B3;
	text-align: left;
	margin: 0 5px 0 10px;
}

.reply_preview {
	color: #000;
}
