<!-- question_preview.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content_container %}

<div class="row">
    <div class="col-md-12">
        <h2>
            <a href="{{ lesson.module.get_absolute_url }}">{{ lesson.module }}</a> <i class="fa fa-caret-right"></i></a>
            <span> <a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a> </span>
            {% if user.is_staff %}<a href="{% url 'lesson_edit' lesson.slug %}" class="btn btn-default btn-xs">edit</a>{% endif %}
        </h2>
    </div>
	<div class="col-md-12"><h3>{{ quiz.title }}</h3></div>
    <div class="col-md-12">
        <a href="{% url 'question_create' quiz.id %}" class="btn btn-default btn-xs">add another question</a>
        <a href="{% url 'question_list' quiz.id %}" class="btn btn-default btn-xs">view questions</a>
        <a href="{% url 'lesson_quiz' quiz.id %}" class="btn btn-default btn-xs">go to quiz</a>
    </div>  
    <div class="col-md-12">
        <h3>Question Preview</h3>
        <a href="{% url 'question_edit' quiz.id object.id %}" class="btn btn-default btn-xs">edit this question</a>
        <a href="{% url 'question_delete' quiz.id object.id %}" class="btn btn-default btn-xs">remove this question</a>
    </div>
    <div class="col-md-12">
		<h4>{{ object.content }}</h4>
		{% for i in answers %} 
			<p>{{ forloop.counter }}. {{ i.content }} {% if i.correct %} <span class="label label-success">correct</span>{% endif %}</p>

		{% endfor %}
    </div>
</div>
    
{% endblock content_container %}