<!-- question_list.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content_container %}

<div class="row">
    <div class="col-md-12">
        <h2>
            <a href="{{ lesson.module.get_absolute_url }}">{{ lesson.module }}</a> <i class="fa fa-caret-right"></i></a>
            <span> <a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a> </span>
            {% if user.is_staff %}<a href="{% url 'lesson_edit' lesson.id %}" class="btn btn-default btn-xs">edit</a>{% endif %}
        </h2>
    </div>
	<div class="col-md-12"><h3>{{ quiz.title }}</h3></div>
    <div class="col-md-12">
        <a href="{% url 'question_create' quiz.id %}" class="btn btn-default btn-xs">add another question</a>
        <a href="{% url 'lesson_quiz' quiz.id %}" class="btn btn-default btn-xs">go to quiz</a>
    </div>
    <div class="col-md-12"><h3>Questions</h3></div>
    
    {% for i in questions %}
        <div class="col-md-12">
            {{ forloop.counter }}. 
            <a href="{% url 'question_edit' quiz.id i.id %}" class="btn btn-default btn-xs"> edit </a>
            <a href="{% url 'question_preview' quiz.id i.id %}" class="btn btn-default btn-xs"> preview</a>
            <div>{{ i.content }}</div>
        </div>
        <div class="col-md-12"><hr></div>
    {% endfor %}
</div>
    
{% endblock content_container %}