<!-- discussions_index.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content_container %}

<div class="row">

    
	<div class="col-md-12"><h1>Discussions</h1></div> 
	{% for i in threads  %}
	
		<div class="col-md-3 col-md-offset-1 well bg-info">
		
			
			<!-- thread header -->
			<a href="{% url 'module' project.slug i.module.id %}">{{ i.module }}</a> / 
			<a href="{% url 'lesson' project.slug i.module.id i.lesson.id %}">{{ i.lesson }}</a>
	    	<small class="" style="float: right"><i>{{ i.reply_count }} replies {% if i.unread_reply_count %} <span class="badge">{{ i.unread_reply_count }}</span> new{% endif %}</i></small>
	    	
	    	
	    	<h4><a href="{% url 'discussion' project.slug i.module.id i.lesson.id i.header.id %}">{{ i.header }}</a><small> by {{ i.header.creator.first_name }}</small></h4>
	           	
		    
		    <!-- thread header text -->
		    <p>{{ i.header.text | truncatewords_html:140 | safe }}</p>
		    
		    <small class="">last activity {{ i.header.modified|date:"M j Y" }} </small>
		    {% if user.is_staff or user == i.header.creator %}<small class="pull-right"> <a href="{% url 'edit_post' i.header.id %}">edit</a>&nbsp; </small>{% endif %}
		
		</div>

	{% endfor %}
	

</div>

{% endblock content_container %}

{% block js_include %}<script src="{% static 'js/discussions.js' %}"></script> {% endblock js_include %}


