<!-- discussions.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content_container %}

<div class="row">
	<div class="col-md-12">
		{% if lesson %}
			<h2>
    			<a href="{{ lesson.module.get_absolute_url }}">{{ lesson.module }}</a> <i class="fa fa-caret-right"></i>
    			{{ lesson }} {% if user.is_staff %}<a href="{% url 'lesson_edit' lesson.id %}" class="btn btn-default btn-xs">edit</a>{% endif %}
			</h2>
		{% endif %}
	</div>

    <div class="col-md-9">
		<h1>Discussions</h1>    					
	<!-- thread header -->			    
		<h3>{{ thread.subject }}
			<small>by {{ thread.creator.first_name }} {{ thread.creator.last_name }}</small>
			<small style="float: right">{{ thread.modified|date:"M j Y" }}</small>
			{% if user.is_staff or user == thread.creator %}<a href="{% url 'edit_post' thread.id %}" class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>{% endif %}
		</h3>

		    
	    <p style="margin: 15px 15px 15px 15px">{{ thread.text  | safe }}</p>

	    <p>Displaying only the discussion prompt associated with this lesson.</p>
	</div>	

    <div class="col-md-3">
    	{% if lesson %}       
		    <div><a href="{% url 'lesson_section_permlink' lesson.id 'topic' %}" class="menu_btn {% if curr_section == 'topic' %}active{% endif %}">Topics</a></div>
		    <div><a href="{% url 'lesson_section_permlink' lesson.id 'media' %}" class="menu_btn {% if curr_section == 'media' %}active{% endif %}">Consider This</a></div>
		    
			{% if quiz %} 
				<div><a href="{% url 'lesson_quiz' quiz.id %}" class="menu_btn ">Test Yourself</a></div>
				
			{% endif %} 
			
			<div><a href="{% url 'lesson_section_permlink' lesson.id 'reading' %}" class="menu_btn {% if curr_section == 'reading' %}active{% endif %}">More to Consider</a></div>
			
			<div><a href="" class="menu_btn active">Get Involved</a></div>

			<div><a href="{% url 'lesson_section_permlink' lesson.id 'apply' %}" class="menu_btn {% if curr_section == 'apply' %}active{% endif %}">Apply</a>	</div>
			
			<hr>
			
			<div>
				<a class="menu_btn" data-toggle="collapse" href="#lesson-menu"  aria-expanded="false" aria-controls="lesson-menu">More Lessons <i class="fa fa-caret-right"></i></a>

				<div id="lesson-menu" class="collapse">
					{% for i in module_lessons %}
						<div class="">
						{% if i.id = lesson.id %}
							<span class="btn btn-md btn-default">{{ i.title }}</span>
						{% else %}
							<a href="{{ i.get_absolute_url }}" class="btn btn-md"> {{ i.title }}</a>
						{% endif %}
						</div>					
					{% endfor %}
				</div>
	    	</div>
		{% endif %}
    </div>
</div>

{% endblock content_container %}

   
{% block js_include %} <script src="{% static 'js/discussions.js' %}"></script>{% endblock js_include %}

