<!-- index.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}
<div class="col-md-12">
	<h2>Project {{ object.title }}</h2>
</div>

<div class="col-md-12">{{ pbllpage.content|safe }}</div>


<div class="col-md-12">
	<h2>Modules
		{% if user.is_staff %}
		<a href="{% url 'module_create' object.id %}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> new module</a>
		{% endif %}
		<a href="{% url 'discussion' %}" class="btn btn-default btn-xs"> discussions </a>
	</h2>
	{% for i in modules %}
		<div class="thumbnail blocks">  
			<div class="button">
				<legend><a href="{{ i.get_absolute_url }}"> {{ i }} {% if user.is_staff %}<i class="fa fa-pencil"></i>{% endif %}</a></legend>	
			</div>
			{% for j in i.lessons.all %}
				<div class="thumbnail">
					{% if user.is_staff or j.active %}
						{% if j.active %}<small class="label label-success label-xs">&nbsp;&nbsp;</small>{% endif %}
						<a class="button" href="{{ j.get_absolute_url }}">{{ j }}</a>
					{% else %}
						<p class="inactive_lesson">{{ j }}</p>
					{% endif %}
				</div>
			{% endfor %}		
			<div class="text-center">
		    {% if user.is_staff %}
		        <a href="{% url 'lesson_create' module_id=i.id %}" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> new lesson</a>
		    {% endif %}						
			</div>
		</div>
	{% endfor %}
</div>

{% endblock content_container %}