<!-- index.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}

<h2>Modules</h2>
{% for i in modules %}
	<div class="thumbnail blocks">
	
		<div class="button"><a class="button" href="{{ i.get_absolute_url }}"> <legend>{{ i }}</legend> </a></div>
		{% for j in i.lessons.all %}
			<div class="thumbnail">
				<a class="button" href="{{ j.get_absolute_url }}"> {{ j }} </a>
				<p>{{ j.description }}</p>
			</div>
		{% endfor %}		
	
	</div>
{% endfor %}

{% endblock content_container %}