<!-- isotope_scratch.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}

<div id="content_filters" class="row">
	<div class="col-md-12 button-group">
		<button class="button" data-filter=".item_1">Topic</button>
		<button class="button" data-filter=".item_2">Watch</button>
		<button class="button" data-filter=".item_3">Read</button>
		<button class="button" data-filter=".item_4">Test</button>
		<button class="button" data-filter=".item_5">Discuss</button>
	</div>
</div>

<div id="content_display" class="row">
	<div class="col-md-12 item item_1">Topic</div>
	<div class="col-md-12 item item_2">Watch</div>
	<div class="col-md-12 item item_3">Read</div>
	<div class="col-md-12 item item_4">Test</div>
	<div class="col-md-12 item item_5">Discuss</div>
</div>

{% endblock content_container %}