<!-- lesson.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}

<div class="row">
    
    <div class="col-md-9">
    	<div id="breadcrumbs" class="row">
    		<div class="col-md-12"> 
	    		<div>
	    			<a href="{{ lesson.module.get_absolute_url }}">{{ lesson.module }}</a> >> 
	    			<a href="{{ lesson.get_absolute_url }}"> {{ lesson }}</a>
	    			{% if user.is_staff %}<a href="{% url 'lesson_edit' lesson.slug %}" class=""> <small>[ edit ]</small> </a>{% endif %}
	    		</div>
    		</div>
    	</div>
		
		<div class="row">			
			{% for item in section_items %}
				<div class="col-md-12">

					<h2>{{ item.get_content_type_display }}
						{% if user.is_staff %}<a href="{% url 'lesson_section_edit' lesson=lesson.slug pk=item.id %}" class=""><small>edit</small></a>{% endif %}
					</h2>
					
					<div>{{ item.text | safe }}</div>
				</div>
			{% endfor %}
		</div>
    </div>
    
    <div class="col-md-3">        
		<a href="{% url 'lesson_section' slug=lesson.slug section='topic' %}" class="menu_btn btn {% if curr_section == 'topic' %}active{% endif %}">Topic</a>
		<a href="{% url 'lesson_section' slug=lesson.slug section='media' %}" class="menu_btn btn  {% if curr_section == 'media' %}active{% endif %}">Watch</a>

		{% if quiz %} 
			<a href="{% url 'lesson_quiz' quiz_name=quiz %}" class="menu_btn btn ">Test Yourself</a> 
		{% endif %} 
		
		<a href="{% url 'lesson_section' slug=lesson.slug section='reading' %}" class="menu_btn btn  {% if curr_section == 'reading' %}active{% endif %}">Read</a>
		

		
		{% if lesson_thread %}
			<a href="{% url 'discussion_select' slug=lesson_thread %}" class="menu_btn btn ">Get Involved</a>
			<div class="well reply_preview_list">
				
				<div style="text-align: left"><small>Recent Posts</small></div>
				{% for i in lesson_thread_replies %}
				<a href="{% url 'discussion_select' slug=lesson_thread %}#post_{{i.id}}">
					<div class="well">
						<i class="fa fa-quote-left"></i>							
						<div class="reply_preview"><small><i>{{ i.text|truncatewords:10 }}</i></small></div>
						<small style="float: right">{{ i.creator.first_name }}</small>
					</div>
				</a>					
				{% empty %}
					<div class="well"><small>No recent posts. Be the first!</small></div>
				{% endfor %}

			</div>									
		{% endif %}				
    </div>
</div>
    
{% endblock content_container %}