<!-- login-forbidden.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}

<div class="row">
    <div class="col-md-12">
    	{% for i in messages %}
    		<p>{{ i }}</p>
    	{% endfor %}
    	Sorry, you do not have required permissions to view this site. If you feel you have reached this page in error, please contact <a href="mailto://nflrc@hawaii.edu">the National Foreign Language Resource Center (nflrc@hawaii.edu)</a> 
	</div>
</div>
    
{% endblock content_container %}