<!-- module.html -->
{% extends "base.html" %}
{% load staticfiles %}
{% block series_title %} <a href="{% url 'project' project.slug %}">{{project}}</a> {% endblock series_title %}

{% block page_header_container %}{% endblock page_header_container %}

{% block content_container %}

<h2>     
    {{ object.title }}  
	{% if user.is_staff %}
        <a href="{% url 'module_edit' project.slug object.id %}"  class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></a>
        <a href="{% url 'module_delete' project.slug object.id %}" class="btn btn-default btn-xs">remove</a>
    {% endif %}
</h2>
<h3> Lessons 
    {% if user.is_staff %}
        <a href="{% url 'lesson_create' %}?project={{project.slug}}&module={{object.id}}" class="btn btn-default btn-xs"><i class="fa fa-plus"></i></a>
    {% endif %}
</h3>
{% for i in lessons %}
	<div class="thumbnail blocks">
        {% if user.is_staff or i.lesson.active %}
            <div>
            {% if not i.lesson.active %}
            	<small class="label label-default label-xs">&nbsp;&nbsp;</small>
            {% else %}
            	<small class="label label-success label-xs">&nbsp;&nbsp;</small>
            {% endif %}
            <a href="{% url 'lesson' project.slug object.id i.lesson.id %}"> {{ i.lesson }} ({{ i.order }})</a>
            </div> 
            <hr>         
        {% else %}
            <span class="inactive_lesson">{{ i.lesson }}</span>
        {% endif %}
        
		{% if user.is_staff %}
        {% endif %}
        
		<div>{{ i.lesson.description | safe }}</div>
        <hr>
        {% if user.is_staff %}
            <div class="">
                <a href="{% url 'lesson_edit' i.lesson.id %}?module={{object.id}}" class="btn btn-default btn-xs"> <i class="fa fa-pencil"></i> </a>
                <a href="{% url 'lesson_module_detach' i.id %}" class="btn btn-default btn-xs pull-right"> remove from module </a>
            </div>
        {% endif %}
	</div>
{% endfor %}
    
{% endblock content_container %}
