<!-- module.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}

<h2> 
	{{ object.title }}  
	{% if user.is_staff %}
        <a href="{% url 'module_edit' slug=object.slug %}"  class="btn btn-default btn-xs">edit</a>
        <a href="{% url 'module_delete' object.id %}" class="btn btn-danger btn-xs">remove this module</a>
    {% endif %}
</h2>
<h3> Lessons 
    {% if user.is_staff %}
        <a href="{% url 'lesson_create' module_id=object.id %}" class="btn btn-success btn-xs">add a new lesson</a>
    {% endif %}
</h3>
{% for i in lessons %}
	<div class="thumbnail blocks">
        {% if user.is_staff or i.active %}
            <div>
            {% if not i.active %}
            	<small class="label label-default label-xs">&nbsp;&nbsp;</small>
            {% else %}
            	<small class="label label-success label-xs">&nbsp;&nbsp;</small>
            {% endif %}
            <a href="{{ i.get_absolute_url }}"> {{ i }} </a>
            </div> 
            <hr>         
        {% else %}
            <span class="inactive_lesson">{{ i }}</span>
        {% endif %}
        
		{% if user.is_staff %}
        {% endif %}
        
		<div>{{ i.description | safe }}</div>
        <hr>
        {% if user.is_staff %}
            <div class="text-right">
                <a href="{% url 'lesson_edit' i.id %}" class="btn btn-default btn-xs"> edit </a>
                <a href="{% url 'lesson_delete' i.id %}" class="btn btn-danger btn-xs"> remove </a>
            </div>
        {% endif %}
	</div>
{% endfor %}
    
{% endblock content_container %}
