<!-- project_list.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block content_container %}
<div class="col-md-12">
	
</div>

<div class="col-md-12">
	{% for i in object_list %}
		<div class="thumbnail blocks">  
			<div class="button">
                <legend><a href="{{ i.get_absolute_url }}"> {{ i }} {% if user.is_staff %}<i class="fa fa-pencil"></i>{% endif %}</a> 
                <a href="{% url 'participants' i.slug %}"><i class="fa fa-users fa-1x"></i></a>
                </legend>	
			</div>
		</div>
	{% endfor %}
</div>

{% endblock content_container %}